@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(245, 246, 247);
  --color-primary-dark: black;

  --font-mons: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-helvetica: 'Helvetica', sans-serif;
  --font-arial: 'Arial', sans-serif;
  --font-sans: 'sans-serif';
  --font-lato: 'Lato', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-playwrite: 'Playwrite', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}